:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #cac6f8;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

/* button {
  color: #646cff;
}
button:hover {
  color: #cac6f8;;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
